*{
    padding: 0;
    margin: 0;
}
html,body{
    overflow-x: hidden;
    
}
header{
    position:fixed;
    top: 0vw;
    left: 0vw;
    height: 10vw;
    width: 90vw;
    padding: 5vw 5vw;
    z-index: 3;
    z-index: 10;

}
header .logo{
    width: 100%;
}
header .logo img{
    height: 15vw;
    position: absolute;
    top: 3vw;
    right: 5vw;
}
.banner{
    width: 100vw;
    height: 90vw;
    background-color: #630000;
    background-image: url(../img/detalheMacarrao.png);
    background-repeat: no-repeat;
    background-position: 30vw 55vw;
    background-size: 50% 60%;
}
.banner h1,.banner h2{
    color: white;
    font-size: 4.2vw;
    position: relative;
    top:-5vw;
    left: 2;
    display: inline-block;    
}
.banner h2{
    left: 52vw;
    top: -3vw;
}
.banner img#produto{
    height: 50vw;
    display: inline-block;
    position: relative;
    left: 10vw;
    top: 25vw;
}
.banner img#detalhe{
    top:5vw;
    left: 30vw;
    width: 30vw;
}

.receitas{
    padding: 6.3vw;
    text-align: center;
    align-items: center;
    vertical-align: top;

}
.receitas .contein{
    display: flex;
    flex-wrap: wrap;
    gap:7vw;
    align-items: flex-start;
}
.receitas h1{
    margin-bottom: 5vw;
    position: relative;
    text-align: left;
    color: #630000;
    z-index: 2;
}
.receitas .box h1{
    color: aliceblue;
    text-align: center;
}
.receitas .box{
    position:relative;
    background-color: #630000;
    width: 34vw;
    padding: 3vw;
    padding-top:5vw;
    height: 55vw;    
    border-radius: 8vw;
    font-size: 2.77vw;
    text-align: center;
    color: white;
    background-size: 300%;
    background-position: 60%;
    background-repeat: no-repeat;
}
.receitas .box .opac{
    content: '';
    position: absolute;
    left: 0;
    top: 0vw;
    padding: 3vw;
    border-radius: 8vw;
    width: 34vw;
    height: 57vw;
    background-color: rgba(99,000,000,0.4);
    z-index: 1;
}
.receitas .box button{
    position: relative;
    margin-top: 80%;
    border: 1px solid transparent;
    border-radius: 1vw;
    height: 7vw;
    width: 25vw;
    font-size: 3vw;
    font-weight: 700;
    color: #630000;
    z-index: 3;
}

.receitas .box#aomolho{
    background-image: url(../img/macarraoAoMolho.jpg);
    
}
.receitas .box#carbonara{
    background-image: url(../img/espagueteCarbonara.jpg);
}
.receitas .box#alhoEoleo{
    background-image: url(../img/espagueteAlhoEolho.webp);
}
.receitas .box#aBolonhesa{
    background-image: url(../img/aBolonhesa.avif);
}
.detalhes{
    margin: 15vw 0;
    text-align: left;
}
.detalhes h1#detitulo{
    font-size: 8vw;
}
.detalhes h1{
    font-size: 5vw;
    color:#630000
}
.detalhes p{
    color: #515151;
    margin: -2vw 0;
}
.detalhes div{
    margin: 5vw 0;
}
.infNutricional{
    width: 100vw;

}
.infNutricional h1{
    color: #630000;
    text-align: left;
}
.infNutricional h2{
    font-size: 3vw;
    color: #630000;
    width: 85vw;
    margin-top: -4vw;
}
table{
    width: 90vw;
    margin: 5vw;
    position: relative;
    left: -6vw;
}
table th, table td{
    border: 2px solid #630000;
    text-align: center;
}